// Overwrite default variables

$global-xxlarge-font-size: 2rem !default;
$global-xlarge-font-size: 1.75rem !default;

$global-gutter: 8px !default;
$global-medium-gutter: 16px !default;
$global-large-gutter: 20px !default;

$global-primary-background: #1e3989 !default;
$alert-primary-background: lighten(mix(white, $global-primary-background, 40%), 35%) !default;

$global-success-background: #009a20 !default;
$alert-success-background: lighten(mix(white, $global-success-background, 40%), 35%) !default;

$global-danger-background: #903c08 !default;
$alert-danger-background: lighten(mix(white, $global-danger-background, 40%), 35%) !default;

$global-font-family: sans-serif !default;
$navbar-nav-item-height: 40px !default;
$navbar-nav-item-text-transform: none !default;

$dropdown-padding: 5px 15px !default;

$button-primary-background: #fc9900 !default;
$button-primary-hover-background: lighten($button-primary-background, 5%) !default;
$button-primary-active-background: lightenn($button-primary-background, 10%) !default;


$header-x-offset: 5/16;

$base-margin-vertical: 1.4rem !default;
$base-heading-margin-top: $base-margin-vertical+1rem;

$base-h1-line-height: 1.1 !default;
$base-h2-line-height: 1.15 !default;
$base-h3-line-height: 1.2 !default;
$base-h4-line-height: 1.2 !default;
$base-h5-line-height: 1.3 !default;
$base-h6-line-height: 1.3 !default;


// Import default variables and available mixins

@import "../../scss/variables-theme.scss";
@import "../../scss/mixins-theme.scss";

$base-em-color: inherit;


// Overwrite mixins

@mixin hook-card-default() {
	border: solid 1px $alert-danger-background;
}

@mixin hook-button(){
	transition: 0.1s ease-in-out;
	transition-property: color, background-color, border-color;
	border-radius: 3px;
}

// Import UIkit

@import "../../scss/uikit-theme.scss";



// WooCommerce => UIkit


.button {
	@extend .uk-button;
}

.button,
.woocommerce-Button,
.woocommerce-button {
	@extend .uk-button-primary;
}

.input-text {
	@extend .uk-input;
}

select.orderby {
	@extend .uk-select;
}

#failure,
.cart-empty,
.woocommerce-message,
.woocommerce-notice,
.woocommerce-info,
.woocommerce-error {
	@extend .uk-alert;
}

.woocommerce-notice--success,
.woocommerce-message {
	@extend .uk-alert-success;
}

.cart-empty,
.woocommerce-info {
	@extend .uk-alert-primary;
}

#failure,
.woocommerce-error {
	@extend .uk-alert-danger;
}

ul.wc_payment_methods,
ul.woocommerce-error {
	list-style-type: none;
}

ul.wc_payment_methods {
	@extend .uk-list;
}

.woocommerce-invalid-required-field input {
	@extend .uk-form-danger;
}

// Equal height
.woocommerce .products .product > div {
	height: 100%;
}

// Styled here due to the fact that this is also loaded using AJAX
.woocommerce-checkout-payment {
	@extend .uk-padding, .uk-background-muted;
}

.input-checkbox,
.woocommerce-form__input-checkbox {
	@extend .uk-checkbox;
}

.input-radio {
	@extend .uk-radio;
}

// Pagination
ul.page-numbers {
	@extend .uk-pagination;
}

// Custom styles
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure {
	margin-top: 5rem/16;
}

// Sticky footer
html {
    height: 100%;
}
body {
    display: flex ;
    flex-direction: column;
    height: 100%;
}
html body{
    line-height: 1.4;
}
.uk-offcanvas-content {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}
